@import "normalize";
@import "variable";
@import "layout";

 /* WEBFONTS */

@font-face {
  font-family: 'codeconf';
  src:  url('/src/webfonts/codeconf-all/fonts/codeconf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'codeconf' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hour:before {
  content: "\e900";
}
.icon-pin:before {
  content: "\e901";
}
.icon-burger:before {
  content: "\e93e";
}
.icon-schedule:before {
  content: "\e93f";
}
.icon-loop:before {
  content: "\e940";
}
.icon-contact:before {
  content: "\e941";
}
.icon-event:before {
  content: "\e942";
}
.icon-home:before {
  content: "\e943";
}
.icon-card:before {
  content: "\e944";
}
.icon-paypal:before {
  content: "\e945";
}
.icon-tw:before {
  content: "\e946";
}
.icon-slack:before {
  content: "\e947";
}
.icon-heart_full:before {
  content: "\e948";
}
.icon-heart_line:before {
  content: "\e949";
}
.icon-square_full:before {
  content: "\e94a";
}
.icon-square_line:before {
  content: "\e94b";
}
.icon-spade_full:before {
  content: "\e94c";
}
.icon-spade_line:before {
  content: "\e94d";
}
.icon-clover_full:before {
  content: "\e94e";
}
.icon-clover_line:before {
  content: "\e94f";
}

/* museo */
@font-face {
  font-family: "museo";
  src: url("/src/webfonts/museo/museo300.woff2") format("woff2"),
       url("/src/webfonts/museo/museo300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "museo";
  src: url("/src/webfonts/museo/museo500.woff2") format("woff2"),
       url("/src/webfonts/museo/museo500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "museo";
  src: url("/src/webfonts/museo/museo700.woff2") format("woff2"),
       url("/src/webfonts/museo/museo700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "maven";
  src: url("/") format("woff2"),
       url("maven/maven400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* maven A DEMANDER A GREG ; PAS COMPRIS*/
@font-face {
  font-family: "maven";
  src: url("maven/maven500.woff2") format("woff2"),
       url("maven/maven500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "maven";
  src: url("maven/maven600.woff2") format("woff2"),
       url("maven/maven600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "maven";
  src: url("maven/maven700.woff2") format("woff2"),
       url("maven/maven700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "maven";
  src: url("maven/maven800.woff2") format("woff2"),
       url("maven/maven800.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "maven";
  src: url("maven/maven900.woff2") format("woff2"),
       url("maven/maven900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box 
}

/*HEADER*/

.logo {
  margin-inline-end: auto;
}

.teaser-image {
  display: grid;
  border: 1px solid #888;
  max-width: 80rem;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  background: #7A49F2;
  * {
    border: 1px solid #888;
  }
  img {
    position: relative;
    z-index: 2;
    margin-block-start: -3rem;
    width: 100%;
    grid-column: 3/6;
    grid-row: span 2;
    pointer-events: none;
    align-self: end;
  }
}

nav {
  display: flex;
  gap: 2rem;
}
.logo {
  margin-inline-end: auto;
}
.teaser {
  display: grid;
  color: #FFFFFF;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  background: #7A49F2;
}
.teaser img {
  position: relative;
  z-index: 2;
  margin-block-start: -3rem;
  width: 100%;
  grid-column: 3/6;
  grid-row: span 2;
  pointer-events: none;
  align-self: end;
}
.teaser h1, .teaser p {
  grid-column: 6/11;
}
.teaser h1 {
  align-self: end;
}
.teaser p {
  align-self: start;
}
nav {
  background: white;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  background-color: #F9F9F9;
  color: #00C3C5;
  display: flex;
  align-items: center;
  gap: 2rem;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  padding: 1rem;
}


/*MAIN aka CARDS*/

h1, p {
  grid-column: 6/11;
}
h1 {
  align-self: end;
}
p {
  align-self: start;
}

.cards {
  background-color: #F9F9F9;
}

.form {
  background-color: #FFFFFF;
}

.registerForm {
  background-color: #FFFFFF;
  text-align: center;
  padding-top: 50px;
}

.divInput {
  display:flex; justify-content:center; width:100%;  text-align:center;
  margin-bottom: 5px;
}
input {
  margin-right:200px;
}
label {
  margin-right:10px;
  width:100px;
}
.card__img {
  height:300px;
  width:405px
}
textarea{
  margin-top: 10px;
  margin-bottom: 15px;
  width:54rem;
  height:5rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container label {
  align-self: center; 
  text-align: center;
  margin-right: 52rem; 
}
  .card--off {
    display:none;
  }
.card {
  display:inline-block;
  border:solid;
  margin-left: 30px;
  margin-right: 30px;
  height:405px;
  overflow: hidden;
  width:405px
}

/*FOOTER*/

footer {
  background-color: #343237;
  color: #FFFFFF;
  text-align: center;
}